/* Add styling for your page here */

.App {
  margin: 10px 30px;
  color: black;
  font-family: Garamond;
  display: grid;
  gap: 1em;
  grid-template-columns: 3fr 1fr;
  
}

.bakery-cart {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #FBEEC1;
}

.menu {
  padding-top: 20px;
}



